.contacts {
  padding: 80px 0;
  scroll-margin-top: 103px;

  &__description {
    margin: 0 0 10px 0;
    text-align: center;
    color: $color-additional;
    @include font($size: inherit, $height: inherit, $weight: 500);
  }

  &__title {
    margin: 0 0 40px 0;  
    text-align: center;
  }

  &__subtitle {
    @extend %font-add-2;
    @include font($size: 1.75rem, $height: 1.75rem);
    text-transform: uppercase;
    margin: 0 0 8px 0;
  }

  &__container {
    display: flex;
    padding: 0 80px;
    gap: 50px;

    @media (max-width: 1200px) {
      gap: 20px;
      padding: 0 40px;
    }

    @include media-tablet-max {
      flex-direction: column;
      gap: 50px;
    }

    @include media-tablet-medium {
      padding: 0 20px;
    }

    @media (max-width: 650px) {      
      padding: 0;
    }
  }

  &__list {
    padding-left: 100px;

    @include media-desktop {
      padding-left: 40px;
    }

    @media (max-width: 650px) {      
      padding-left: 0;
    }
  }

  &__item {
    margin-bottom: 1.6rem;
  }

  &__container-map, 
  &__list {
    max-width: 50%;
    width: 100%;

    @include media-tablet-max {
      max-width: 100%;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__mail {
    margin: 0;
    color: $color-text;    
    padding-left: 30px;
    background-image: url(../img/icons/mail.svg);
    background-position: left 0 center;
    background-repeat: no-repeat;
    @include font($size: inherit, $height: 1.6875rem);
  
    &:hover {
      background-image: url(../img/icons/mail-hover.svg);
      @extend %transition;
      color: $color-highlight;
    }

    @media (max-width: 319.98px) {
      background-image: none;
      padding-left: 0;
    }
  }  

  &__phone,
  &__address {
    margin: 0;
    @include font($size: inherit, $height: 1.6875rem);
  }

  &__title,
  &__container-map,
  &__list {
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 
  }   
}