.copyright {
  display: flex;
  justify-content: center;
  padding-top: 48px;
  width: 80%;
  border-top: 1px solid $color-highlight;

  &__title {
    @include font($size: 0.75rem, $height: 1.6875rem, $weight: 400);
    margin: 0;
  }
}