.description {
  margin: 0;  
  @include font($size: 1rem, $height: 1.625rem);

  &--highlight {
    @include font($size: 1rem, $height: 1.625rem, $weight: 600);
  }

  &--list {
    margin-bottom: 16px;
  }

  &--education-list {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  &--link {
    text-decoration: none;
    color: $color-highlight;
    @extend %transition;
    cursor: pointer;

    &:hover {
      color: $color-additional;
    }
  }
}