$color-background: #f6f6f6;
$color-text: #292929; 
$color-background-section: #e1ecf7;
$color-highlight: #234794;
$color-additional: #78858B;

$content-width: 1880px;
$desktop-width: 1440px;
$tablet-max-width: 991.98px;
$tablet-medium-width: 767.98px;
$mobile-medium-width: 540px;
$mobile-small-width: 393.98px;