%font {
  font-family: "Roboto", "Arial", sans-serif;
}

%font-add {
  font-family: "Montserrat", "Arial", sans-serif;
}

%font-add-2 {
  font-family: "Oswald", "Arial", sans-serif;
}

%transition {
  transition: all .3s ease-out;
}