.footer {
  background-color: $color-background-section;
  padding: 100px 0;

  @include media-mobile-small {
    padding: 80px 0;
  }

  &__wrapper {
    display: flex;
    padding: 0 80px 80px 80px;
    gap: 50px;
    
    @include media-tablet-medium {
      padding: 0 40px 80px 40px;
      gap: 20px;
    }

    @include media-mobile-medium {
      flex-direction: column;          
    }

    @include media-mobile-small {
      padding: 0 10px 60px 10px;
    }
  }

  &__title {
    align-self: baseline;
    @extend %font-add-2;
    @include font($size: 1.125rem, $height: 1.125rem, $weight: 500);
    margin: 0 0 20px 0;
  }
}